%p.intro
  <strong>AlertMe.TV</strong> allows you to choose your favorite shows and easily set up alerts for when <strong>new episodes</strong> come on. Click on a show above, or search for one and set <strong>Email</strong>, <strong>SMS</strong>, or <strong>Instant Message</strong> alerts.
