.welcome{hidden}
  %a#welcomeinline{:href => "#fancywelcome"} Welcome
  #fancywelcome
    .welcome_inner
      %h2 Welcome to AlertMe.TV
      %p
        AlertMe.TV allows you to easily set notifications for when new episodes of your favorite tv shows come on.
        
      %p
        You can browse through the list of shows, or use the search tool to find one that may not be listed.
        
      %p
        Just click on the tv show in order to set an alert. Once you have the alerts you want, just set up an account so you can log back in from another computer.
      
      = image_tag "tv.png", :class => "welcome_tv"
      